# Config file for QuickConnect mod
# Lines starting with # and empty lines are ignored

# Put one server per line
# name:addr:port[:password]

# addr can be ether IP or a fully qualified domain name

Rexabyte:144.126.151.109:2456:XxT7pkSqy96jj3UU

# password is optional, you can skip it if your server doesn't need a password
# or if you don't want to write it down